<!DOCTYPE html>
<html>
<head>
    <title>${title}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <script src="scripts/script.js"></script>
</head>
<body onload="init()" onresize="init()">
    <div class="now-playing" id="playing"><span id="current-file">${now_playing}</span>
        <div class="controls" id="controls">
            <div class="control" onclick="playPrev()"><span>&lt;</span></div>
            <div class="control" onclick="playNext()"><span>&gt;</span></div>
            <div class="control" onclick="playPause()"><span>| &gt; / ||</span></div>
            <div class="control" onclick="volumeDown()"><span>-</span></div>
            <div class="control" onclick="volumeUp()"><span>+</span></div>
        </div>
    </div>
    <a href="/"><div class="btn">Home</div></a>
    <div class="files">
        ${files}
    </div>
</body>
</html>