<!DOCTYPE html>
<html>
<head>
    <title>${title}</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>Hi there!</h1>
    <div>
        This is a simple python server.<br>
        Write your apps for home usage and host them on me!
        This server is created fot home media player but can be used for any lightweight
        web application. More about mediaplayer project you can find on
        <a href="https://github.com/yahor-filipchyk/mediaplayer">GitHub</a>.
    </div>
</body>
</html>